html {
  height: 100%;
  width: 100%;
}

body {
  background-color: gray;
}

h3 {
  color: green;
}

.redColor {
  color: red;
}

.colorBlue {
  color: blue;
}
/*Cambia el cursor a una mano*/
h5 {
  cursor: pointer;
}